<!DOCTYPE html>
<html>
<head>
    <title>users</title>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        .bg {
            width:750px;
            height:1334px;
            background: url("<%=image %>");
            background-size: 750px <%=height %>px;
            background-repeat: no-repeat;
            background-position-y: <%=position %>;
        }
    </style>
</head>
<body>
    <div class="bg"></div>
</body>
</html>